<div class="row">
  <div class="small-6 small-offset-3 columns clearfix container">
    <h1 class="header text-center">Edit Your Review</h1>
      <%= render 'boardgames/flash' %>
      <%= render partial: 'review_form', object: @boardgame, object: @review %>
    </div>
  </div>
