<div class="row">
  <div class="small-6 small-offset-3 columns clearfix container">
    <h1 class="header text-center">Create a Review</h1>
      <%= render 'boardgames/flash' %>
      <%= render 'review_form' %>
    </div>
  </div>
