
<div class="row">
  <div class="small-6 small-offset-3 columns container clearfix">
    <h1 style='text-align: center'>Edit Boardgame</h1>
    <%= render 'flash' %>
    <%= render partial: "boardgame_form", object: @boardgame %>
  </div>
</div>
